*{
    margin: 0;
    padding: 0;
}

html{
    overflow-y: scroll;
}

#top-nav  {
    display: flex;
    justify-content: center;
    background-color: #000;
    width: 100%;
    height: 20%;
}

#top-nav img {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.search-form-wrapper{
    background-color: #cccbcb;
    margin-left: 15%;
    margin-right: 15%;
    width: auto;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-form-wrapper #content{
    padding-left: 13vw;
}

.search-form-wrapper h1{
    font-size: 42px;
    padding-top: 7vh;
}

.search-form-wrapper p{
    font-size: 21px;
    width: 28%;
    padding-top: 0.3vh;
}

.search-form-wrapper form{
    justify-content: center;
}

input{
    height: 4vh;
    width: 10vw;
    margin-top: 2vh;
    margin-right: 2vh;
}

input::placeholder{
    text-align: center;
}

/* Button for text */
button{
    background-color: #4290F5;
    color: #fff;
    height: 4vh;
    width: 10vw;
    position: relative;
    margin-left: 45vw;
    bottom: 6.4vh;
}

/* Button for form if I want it
button{
    background-color: #4290F5;
    color: #fff;
    height: 4vh;
    width: 10vw;
    margin-top: 2vh;
    margin-right: 2vh;
} */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 12vh;
}

footer a {
    color: #fff;
}

@media only screen and (min-width: 1080px){
    .search-form-wrapper p{
        width: 50%;
    }

    button{
        bottom: 5.4vh;
        height: 4vh;
        width: 11vw;
    }
}

@media (min-width: 601px) and (max-width: 1079px){
    html{
        background-color: #cccbcb;
    }
    
    .search-form-wrapper #content{
        padding-left: 4vw;
    }

    .search-form-wrapper{
        height: 41vh;
    }

    .search-form-wrapper h1{
        padding-top: 0vh;
    }
    
    .search-form-wrapper p{
        width: 90%;
    }

    button{
        height: 4.5vh;
        width: 21vw;
        margin-left: 24vw;
        bottom: -5.6vh;
    }

}

@media only screen and (max-width: 600px) {
    html{
        background-color: #cccbcb;
    }
    
    #top-nav img {
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        height: 60px;
    }

    .search-form-wrapper{
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        height: 52vh;
    }

    .search-form-wrapper #content{
        padding-left: 4vw;
        position: relative;
        bottom: 9vh;
    }

    .search-form-wrapper h1{
        font-size: 35px;
    }

    .search-form-wrapper p{
        width: 100%;
    }

    button{
        margin-left: 26vw;
        top: -2vh;
    }

    input, button{
        width: 47vw;
        height: 5vh;
    }

    footer{
        height: 14vh;
    }

  }